@import "variable";
@import "mixin";
@import "shimmer";

.App {
  //   max-width: 1304px;
  font-family: "Gilroy-Bold", sans-serif;
  font-family: "Gilroy-Heavy", sans-serif;
  font-family: "Gilroy-Light", sans-serif;
  font-family: "Gilroy-Medium", sans-serif;
  font-family: "Gilroy-Regular", sans-serif;
}

.home-img {
  background: url("../images/Rectangle\ 1441.png") no-repeat center center/cover;
  height: 1084px;
  width: 100%;
}

.logo-name {
  cursor: pointer;
  text-decoration: none;
  color: $white;

  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.01em;
}

.nav-home {
  // display: flex;
  // justify-content: space-between;
}

.home-nav {
  display: flex;
  position: absolute;
}

.navbar-texts {
  ul {
    li {
      a {
        text-decoration: none;
        color: $white;
      }
    }
  }
}

.home-text{
   position: absolute;
  //  display: flex;
  //  justify-content: center; 
  //  align-items: center;
}

.home-main-text{
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 80px;
  line-height: 130%;
  /* or 104px */
  text-align: center;
  letter-spacing: -0.01em;
}

.home-sub-text{
  font-family: 'Gilroy-Regular';
  font-size: 24px;
  line-height: 160%;
  /* or 38px */
  
  text-align: center;
  color: #FFFFFF;
  opacity: 0.8;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.home-cart {
  span {
    position: absolute;
  }
}

.navbar-menu {
   gap: 8px;
}
